ul {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}


.container  a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  font-size: 30px;
}

.price {
  font-size: 25px;
}